
<div class="row">
  <div class="col py-1">
    <article class="card py-1">
      <div class="card-body">
        <div class="card-title">
          <h4>{{title}}</h4>
        </div>
        <p class="card-text">{{post_text}}</p>
        <div class="meta">
          by {{user.username}} on {{format_date created_at}}
          |
          <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
      </div>
    </article>
  </div>
</div>